body{
    background-color:  #f7f6f0;
}

.array {
    min-width: 100%;
    max-width: 100%;
}

img {
    height: 100%;
    width: 100%;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: #504B38;
    color: beige;
    padding: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    position: relative;
    height: 20%;
    align-items: center; 

}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color: beige;
    font-size: x-large;
    text-decoration: underline;
}
.navimg {
    height: 50px;
    width: auto;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.slider {
    width: 70%; /* Ajuste selon ton besoin */
    height: max-content;
    overflow: hidden;
    border: 3px solid #000;
    position:absolute;
    align-items: center; 
    margin-left: 16%;
    margin-right: 10%;

}

.slider-wrapper {
    display: flex;
    width: 300%; /* 3 images = 300% */
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    text-align: center;
}

.slide img {
    width: 100%;
    height: auto;
    max-height: 300px; /* Ajuste la hauteur */
    max-width: 30%;
    object-fit: cover;
}

.slide h2 {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    margin-top: -5px;
}
.activity{
    margin-top: 28%;
}
.desc2{
    min-width: 100%;
    padding-left: 2%;
    padding-right: 5%;
}
.desc3{
    min-width: 100%;
    padding-left: 4%;
    padding-right: 6%;
}